.background-header {
    width: 100%;
    background-color: hsla(89, 43%, 51%, 0.3);
    height: 30px;
}

.item-menu {
    text-decoration: none;
    color: black;
    padding: 5px 30px;
    height: 100%;
}

.item-menu:hover {
    color: red;
}